{
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "prettier", "plugin:tailwindcss/recommended"],

    "rules": {
        "max-len": [
            "error",
            {
                "code": 180
            }
        ],
        "vue/max-attributes-per-line": "off",
        "vue/html-indent": [
            "error",
            4,
            {
                "attribute": 1,
                "baseIndent": 1,
                "closeBracket": 0,
                "alignAttributesVertically": true,
                "ignores": []
            }
        ],
        "tailwindcss/no-custom-classname": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"]
    }
}
