{
    "arrowParens": "avoid",
    "trailingComma": "none",
    "singleQuote": true,
    "semi": false,
    "printWidth": 200,
    "tabWidth": 4,
    "error": { 
        "endOfLine": "auto"
    }
}
   