%button {
    border-radius: $mainRadius;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button {
    @extend %button;
    &:nth-child(17),
    &:last-of-type {
        grid-column: span 2;
    }
    font-weight: 800;
    font-size: $mainSize;
    transition: all 0.1s ease-out;
    &--layout1 {
        box-shadow: 0px 5px 0px rgba(64, 78, 114, 0.6);
        &:hover:not(.active) {
            box-shadow: 0px 8px 0px rgba(52, 65, 99, 1);
        }
        &.active {
            transform: scale(0.95);
            box-shadow: 0px 5px 0px rgba(25, 25, 25, 0.5);
        }
        &.button-equal {
            box-shadow: 0px 5px 0px hsl(6, 70%, 34%);
            &:hover:not(.active) {
                box-shadow: 0px 8px 0px hsl(6, 70%, 34%);
            }
        }
    }
    &--layout2 {
        box-shadow: 0px 5px 0px rgb(27, 95, 101);
        &:hover:not(.active) {
            box-shadow: 0px 8px 0px rgb(27, 95, 101);
        }
        &.button-equal {
            box-shadow: 0px 5px 0px rgb(137, 57, 1);
            &:hover:not(.active) {
                box-shadow: 0px 8px 0px rgb(137, 57, 1);
            }
        }
    }
    &--layout3 {
        box-shadow: 0px 5px 0px rgb(135, 28, 156);
        &:hover:not(.active) {
            box-shadow: 0px 8px 0px rgb(135, 28, 156);
        }
        &.button-equal {
            box-shadow: 0px 5px 0px rgba(#00E0D1, 0.9);
            &:hover:not(.active) {
                box-shadow: 0px 8px 0px rgba(#00E0D1, 0.9);
            }
        }
    }
}