.button {
    &:nth-child(17),
    &:last-of-type {
        grid-column: span 2;
    }
    transition: all 0.2s ease-out;
    box-shadow: var(--keyMainBoxShadow);

    &:hover:not(.active) {
        transform: scale(0.97);
        box-shadow: var(--keyMainBoxShadowHover);
    }
    &.active {
        transform: scale(0.95);
        box-shadow: var(--shadowConfigActive);
    }
    &.equal {
        box-shadow: var(--keyEqualBoxShadow);
        &:hover:not(.active) {
            box-shadow: var(--keyEqualBoxShadowHover);
        }
    }
    &.del {
        box-shadow: var(--keyDelBoxShadow);
        &:hover:not(.active) {
            box-shadow: var(--keyDelBoxShadowHover);
        }
    }
    &.reset {
        box-shadow: var(--keyResetBoxShadow);
        &:hover:not(.active) {
            box-shadow: var(--keyResetBoxShadowHover);
        }
    }
}
